{% load i18n %}

<h5 class="card-title">{% translate 'Previous daily summaries' %}</h5>
<div class="card-text table-responsive">
    <table class="table {% if request.session.theme.lower == 'dark' %}table-dark{% endif %} table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">{% translate 'Date' %}</th>
                <th scope="col">{% translate 'Spending' %}</th>
                <th scope="col">{% translate 'Remainder' %}</th>
                <th scope="col">{% translate 'Balance' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for daily in period.dailies %}
            <tr>
                <td scope="row"><span style="white-space: nowrap;">{{ daily.date|date:"d/m" }}</span></td>
                <td><span style="white-space: nowrap;">$ {{ daily.expense|floatformat:2 }}</span></td>
                <td><span style="white-space: nowrap;">$ {{ daily.remainder|floatformat:2 }}</span></td>
                <td class="text-end"><span style="white-space: nowrap;">$ {{ daily.balance|floatformat:2 }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>