{% load i18n %}

<h5 class="card-title">{% translate 'Previous daily summaries' %}</h5>
<div class="card-text">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">{% translate 'Date' %}</th>
                <th scope="col">{% translate 'Spending' %}</th>
                <th scope="col">{% translate 'Remainder' %}</th>
                <th scope="col">{% translate 'Balance' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for daily in dailies %}
            <tr>
                <th scope="row">{{ daily.created }}</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>