{% load i18n %}

<h5 class="card-title">{% translate 'Previous daily summaries' %}</h5>
<div class="card-text">
    <table class="table {% if request.session.theme.lower == 'dark' %}table-dark{% endif %} table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">{% translate 'Date' %}</th>
                <th scope="col">{% translate 'Spending' %}</th>
                <th scope="col">{% translate 'Remainder' %}</th>
                <th scope="col">{% translate 'Balance' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for daily in period.dailies %}
            <tr>
                <td scope="row">{{ daily.date|date }}</td>
                <td>$ {{ daily.expense|floatformat:2 }}</td>
                <td>$ {{ daily.remainder|floatformat:2 }}</td>
                <td>$ {{ daily.balance|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>