{% load i18n %}


<h5 class="card-title">{% translate "Today's expenses" %}</h5>
<div class="card-text">
    <table class="table {% if request.session.theme.lower == 'dark' %}table-dark{% endif %} table-striped table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">{% translate 'Time' %}</th>
                <th scope="col">{% translate 'Description' %}</th>
                <th scope="col">{% translate 'Amount' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in daily.details %}
            <tr>
                <td scope="row">{{ detail.created|time }}</td>
                <td>{{ detail.title }}</td>
                <td class="text-end px-md-3 px-1">$ {{ detail.expense|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <strong>{% translate 'Total spending' %}: $ {{ daily.today_expense|floatformat:2 }}</strong>
                </td>
                <td class="
                {% if daily.today_remainder < 0.00 %}
                    {% if request.session.theme.lower == 'dark' %}
                        text-red-strong
                    {% else %}
                        text-red
                    {% endif %}
                {% elif daily.today_remainder > 0.01 %}
                    {% if request.session.theme.lower == 'dark' %}
                        text-green-strong
                    {% else %}
                        text-green
                    {% endif %}
                {% endif %}
                ">
                    <strong>{% translate 'Remainder' %}: $ {{ daily.today_remainder|floatformat:2 }}</strong>
                </td>
                <td class="text-end
                {% if period.balance < 0.00 %}
                    {% if request.session.theme.lower == 'dark' %}
                        text-red-strong
                    {% else %}
                        text-red
                    {% endif %}
                {% elif period.balance > 0.01 %}
                    {% if request.session.theme.lower == 'dark' %}
                        text-green-strong
                    {% else %}
                        text-green
                    {% endif %}
                {% endif %}
                ">
                    <strong>{% translate 'Balance' %}: $ {{ period.balance|floatformat:2 }}</strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>