{% load i18n %}

<div class="row">
    <div class="col-12 col-lg-7 mb-3 mb-lg-0">
        <div class="card theme-{{ request.session.theme.lower }}">
            <div class="card-header">
                {% translate 'Caronte' %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% translate 'What is Caronte?' %}</h5>
                <div class="card-text">
                    {% autoescape off %}{{ CARONTE_INDEX_DESCRIPTION }}{% endautoescape %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5">
        <div class="card theme-{{ request.session.theme.lower }}">
            <div class="card-header">
                {% translate 'Sign up' %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% translate 'Sign up your account now!' %}</h5>
                <div class="card-text">
                    <form class="row" action="{% url 'users:signup' %}" method="POST" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        {% for field in signup_form %}
                            <div class="col-12 my-1 mx-1">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="{{ field.field.icon }} mx-auto"></i>
                                    </div>
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12 my-1 mx-1">
                            <div class="d-grid">
                                <button class="btn btn-dark">{% translate 'Submit' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>