{% extends 'main.html' %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-7 mb-3 mb-lg-0">
        <div class="card">
            <div class="card-header">
                {% translate 'Caronte' %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% translate 'What is Caronte?' %}</h5>
                <div class="card-text">
                    {% autoescape off %}{{ CARONTE_INDEX_DESCRIPTION }}{% endautoescape %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5">
        <div class="card">
            <div class="card-header">
                {% translate 'Sign up' %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% translate 'Sign up your account now!' %}</h5>
                <div class="card-text">
                    <div class="row">
                        {% for field in signup_form %}
                            <div class="col-12 my-1 mx-1">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="{{ field.field.icon }} mx-auto"></i>
                                    </div>
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12 my-1 mx-1">
                            <div class="d-grid">
                                <a href="#" class="btn btn-dark">{% translate 'Submit' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
