{% extends 'main.html' %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-7 mb-3 mb-lg-0">
        <div class="card">
            <div class="card-header">
                {% translate 'Caronte' %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% translate 'What is Caronte?' %}</h5>
                <div class="card-text">
                    <strong>Caronte</strong> es una aplicación para la gestión de gastos durante un período de tiempo determinado.<br>
                    Para su uso, se comienza indicando el inicio de un nuevo _Período_, en donde determinamos de cuánto dinero disponemos durante el mismo y la fecha en la cual este finaliza (comienza el mismo día de su creación). Solo se puede tener un Período activo a la vez.<br>
                    Una vez creado el Período, el sistema calcula cuál es el gasto máximo promedio diario con el presupuesto y la fecha límite indicados. <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5">
        <div class="card">
            <div class="card-header">
                {% translate 'Sign up' %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% translate 'Sign up your account now!' %}</h5>
                <div class="card-text">
                    {% for field in signup_form %}
                        <div class="col-12 my-1 mx-1">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="{{ field.field.icon }} mx-auto"></i>
                                </div>
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-grid">
                    <a href="#" class="btn btn-dark">{% translate 'Submit' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
